coai-lab.org {
    root * /srv
    rewrite /guidelines /guidelines.pdf
    file_server
    @notStatic {
        not file {path}
    }
    reverse_proxy @notStatic llmanipulate-frontend:3000
}

api.coai-lab.org  {
    reverse_proxy llmanipulate-backend:8000
    @websockets {
        header Connection *Upgrade*
        header Upgrade websocket
    }
    reverse_proxy @websockets llmanipulate-backend:8000
}